@import url('https://fonts.googleapis.com/css2?family=Prompt:wght@100&display=swap');

header.index2 {
    background-color: white;
    width: 30%;
    margin: auto;
    padding: 2%;
    text-align: center;
    font-size: 1.2vw;
    margin-top: 5%;
    opacity: 75%;
    border-radius: 15px;
}

body {
    background-image: url('img/background_night.png');
    background-size: cover;
    background-attachment: fixed;
    
}

div.index2#how-to {
    background-color: white;
    width: 54%;
    padding: 20px;
    margin: 10% auto 0;
    font-size: larger;
    padding-left: 7%;
    align-items: center;
    justify-content: center;
    opacity:80%;
}

* {
    font-family: 'Prompt', sans-serif;
}

button.index2 img{
    max-width: 90%;
    max-height: 90%;
    border-radius: 50%;
}

button.index2#setting{
    width: 3em;
    height: 3em;
    border: none;
    border-radius: 50%;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 50px;
    right: 8%;
}

button.index2#home-button {
    width: 3em;
    height: 3em;
    border: none;
    border-radius: 50%;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 50px;
    right: 13%;
}

button.index1#Section1-button{
    width : 25%;
    height : 30%;
    padding : auto;
    font-size: 3vw;
    opacity: 70%;
    position: absolute;
    top: 50%;
    left: 24%;
    border-radius: 15px;
} 
button.index1#Section2-button{
    width : 25%;
    height : 30%;
    margin : auto;
    font-size: 3vw;
    opacity: 70%;
    position: absolute;
    top: 50%;
    border-radius: 15px;
    left: 51%;
} 

button.index2#howto-button {
    width: 3em;
    height: 3em;
    border: none;
    border-radius: 50%;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 50px;
    right: 3%;
}

.seclist{
    margin : auto;
    align-items: center;
    width : 50%;
}

/* Responsive design for smaller screens
@media only screen and (max-width: 768px) {
    header {
        width: 80%;
        font-size: large;
    }

    div.how-to {
        width: 95%;
        font-size: medium;
    } */
/*     
} */
.btn {
    padding: 10px 60px;
    background: #fff;
    border: 0;
    outline: none;
    cursor: pointer;
    font-size: 22px;
    font-weight: 500;
    border-radius: 30px;
}
.popup {
    width: 400px;
    background: #fff;
    border-radius: 6px;
    position:  absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%) scale(1) ;
    text-align: center;
    padding : 0 30px 30px;
    color: #333;
    visibility: hidden; 
    transition : transform 0.4s, top 0.4s;
}

.open-popup{
    visibility: visible;
    top: 50%;
    transform : translate(-50%, -50%) scale(1);
}
.popup button{
    width: 100%;
    margin-top: 50 px;
    padding: 10px 0;
    background-color: green;
    color :#fff;
    border : 0;
    outline : none;
    font-size: 18px;
    border-radius : 4px;
    cursor : pointer;
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.2);
}

