@import url('https://fonts.googleapis.com/css2?family=Prompt:wght@100&display=swap');

* {
    font-family: 'Prompt', sans-serif;
    margin-left: 0;
}

header.index2 {
    background-color: white;
    width: 30%;
    margin: auto;
    padding: 2%;
    text-align: center;
    font-size: 1.2vw;
    margin-top: 5%;
    opacity: 75%;
    border-radius: 15px;
}

body {
    background-image: url('img/background_night.png');
    background-size: cover;
    background-attachment: fixed;
    
}

div.index2#how-to {
    background-color: white;
    width: 54%;
    padding: 20px;
    margin: 10% auto 0;
    font-size: larger;
    padding-left: 7%;
    align-items: center;
    justify-content: center;
    opacity:80%;
    cursor: pointer;
}


button.index2 img{
    max-width: 90%;
    max-height: 90%;
    border-radius: 50%;
}
button[data-modal-target="#modal"]{/* Setting button */
    width: 3em;
    height: 3em;
    border: none;
    border-radius: 50%;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 50px;
    right: 7.9%;
    cursor: pointer;
}
button[data-modal-target="#modal"] img { /* Setting image   */
    max-width: 70%;
    max-height: 70%;
}
button[data-modal-target="#modal"]:hover {
    background-color: lightgray;
}
button.index2#settingbox{
    width: 3em;
    height: 3em;
    border: none;
    border-radius: 50%;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 50px;
    right: 8%;
    cursor: pointer;
}

button.index2#home-button {
    width: 3em;
    height: 3em;
    border: none;
    border-radius: 50%;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 50px;
    right: 13%;
    cursor: pointer;
}
button.index2#home-button img { /* home image   */
    max-width: 100%;
    max-height: 100%;
}
button.index2#home-button :hover {
    background-color: lightgray;
}
button.index1#Section1-button{
    width : 25%;
    height : 30%;
    padding : auto;
    font-size: 3vw;
    opacity: 70%;
    position: absolute;
    top: 50%;
    left: 24%;
    border-radius: 15px;
    cursor: pointer;
} 
button.index1#Section2-button{
    width : 25%;
    height : 30%;
    margin : auto;
    font-size: 3vw;
    opacity: 70%;
    position: absolute;
    top: 50%;
    border-radius: 15px;
    left: 51%;
    cursor: pointer;
} 
button.index1#Section2-button:hover {
    background-color: lightgray;
}
button.index1#Section1-button:hover {
    background-color: lightgray;
}

button.index2#howto-button {
    width: 3em;
    height: 3em;
    border: none;
    border-radius: 50%;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 50px;
    right: 3%;
    cursor: pointer;
}

button.index2#howto-button:hover {
    background-color: lightgray;
}

.modal{    /* จอSetting */
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0);
    transition: 200ms ease-in-out;
    border: 1px solid black;
    border-radius: 10px;
    z-index: 10;
    background-color: white;
    width: 500px;
    max-width: 80%;
  }
.modal.active{ /*ไม่ต้องแก้*/
    transform:translate(-50%,-50% )scale(1);
}
.setting-header{/* หัวข้อsetting */
    padding: 10px 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid black;
}
.setting-header .close-button{ /* ปุ่มปิด*/
    cursor: pointer;
    border: none;
    outline: none;
    background: none;
    font-size :1.25rem;
    font-weight: hold;
    

}
.setting-body{
    padding: 10px 15px;
}
#overlay{
    position : fixed;
    opacity: 0;
    transition: 200ms ease-in-out;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, .5);
    pointer-events: none;   
}
#overlay.active{
    opacity: 1; 
    pointer-events: all;
}

.seclist{
    margin : auto;
    align-items: center;
    width : 50%;
}

/* Responsive design for smaller screens
@media only screen and (max-width: 768px) {
    header {
        width: 80%;
        font-size: large;
    }

    div.how-to {
        width: 95%;
        font-size: medium;
    } */
/*     
} */

      

/* ปุ่มของ SEC TEST 1*/
.container{
    position: absolute;
    top : 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
}

.buttonTEST{
    background: #fff;
    padding: 10px 15px;
    color: #333;
    font-weight: bolder;
    text-transform: uppercase;
    font-size: 18px;
    border-radius: 5px;
    box-shadow: 6px 6px 29px -4px rgbx(0,0,0,0,0.75);
    margin-top: 25px;
    text-decoration: none;
    transition: 0.4s;
    justify-content: center;
    align-items: center;
}

.buttonTEST:hover{
    background: #34495e;
    color: #fff;
}

.popupSEC{
    background: rgba(0, 0, 0, 0.2);
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    display: none;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.popup-content{
    height: 350px;
    width: 700px; 
    background: #fff;
    padding: 20px;
    border-radius: 5px;
    position: relative;
}

.popup-content img {
    width: 3rem;
    height: 3rem;
    justify-content: center;
    align-items: center;
}

input{
    margin: 10px auto;
    display: block;
    width: 50%;
    padding: 8px;
    border: 1px solid gray;
}

/* ปุ่มของ SEC TEST 2*/
.bg-modal{
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    opacity: 0.7;
    position: fixed;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;

}

.modal-content{
    width: 800px;
    height: 400px;
    background-color: #fff;
    border-radius: 4px;
}

.close{
    max-width: 10%;
    max-height: 10%;
    float: right;
    justify-content: left;
}

.close div{
    display: flex;
    width: 10%;
}

table{
    width: 100%;
}

.tableH{
    margin-left: 60px;
}

.mid{
    justify-content: center;
    align-items: center;
}